<div class="tt-team-outer" id="<%= team.name %>">
  <div class="tt-admin-panel">
    <%= link_to image_tag("Pensils@2x.png", size: "60x60", alt: "Rename Team",
        class: 'tt-admin-img', title: "Rename Team"),
        edit_team_path(id: team.id) %>
    <%= link_to image_tag("trash@2x.png", size: "60x60", alt: "Release Team",
        class: 'tt-admin-img', title: "Release Team"),
        team_path(id: team.id), method: :delete, data: { confirm: "This will drop #{team.name.truncate(30)} and all its videos immediately. Confirm?" } %>
    <%= link_to image_tag("Search@2x.png", size: "60x60", alt: "Scout for Players",
        class: 'tt-admin-img', title: "Find Players"),
        search_new_path %>
  </div>
  <div class="tt-rank-panel">
    <div class="big center"><%= link_to ( rank + 1).ordinalize, (teams_path + '#' + team.name) %></div>
  </div>
  <div class="tt-myteam-inner">
    <div class="tt-main-team">
      <div class="tt-team-splash">
        <h1><%= link_to team.name.truncate(30), team %></h1>
      </div>
      <div class="tt-team-stats">
        <table class="table table-hover table-condensed tt-team-table">
          <tbody>
            <tr>
              <td>Playing Since</td>
              <td><%= team.created_at.strftime("%b %e / %Y") %></td>
            </tr>
            <tr>
              <td>Manager</td>
              <td><%= link_to team.user.username, team.user %></td>
            </tr>
            <tr>
              <td>Total Views</td>
              <td><%= team.watches %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
