<!-- This SHOULD be obsolete now -->

<!--
<div class="tt-team-outer-show" id="<%= team.name %>">
  <% if is_me %>
    <div class="tt-admin-panel">
      <%= link_to image_tag("Pensils@2x.png", size: "60x60", alt: "Rename Team",
          class: 'tt-admin-img', title: "Rename Team"),
          edit_team_path(id: team.id) %>
      <%= link_to image_tag("trash@2x.png", size: "60x60", alt: "Release Team",
          class: 'tt-admin-img', title: "Release Team"),
          team_path(id: team.id), method: :delete, data: { confirm: "This will drop #{team.name.truncate(30)} and all its videos immediately. Confirm?" } %>
      <%= link_to image_tag("Search@2x.png", size: "60x60", alt: "Scout for Players",
          class: 'tt-admin-img', title: "Find Players"),
          search_new_path %>
    </div>
  <% else %>
    <div class="tt-nonadmin-panel">
    </div>
  <% end %>
  <div class="tt-rank-panel">
    <div class="big center"><%= link_to (rank).ordinalize, (teams_path + '#' + team.name) %></div>
  </div>
  <div class="tt-team-inner-show <%= is_me %>">
    <div class="tt-main-team-show">
      <div class="tt-team-splash-show">
        <h1><%= team.name.truncate(18) %></h1>
      </div>
      <div class="tt-team-stats-show">
        <table class="table table-condensed tt-team-table">
          <tbody>
            <tr>
              <td>Playing Since</td>
              <td><%= team.created_at.strftime("%b %e / %Y") %></td>
            </tr>
            <tr>
              <td>Total Points</td>
              <td><%= team.points_total %></td>
            </tr>
            <tr>
              <td>Active Views</td>
              <td><%= team.watches %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% if team.videos.empty? %>
        <div class="tt-team-splash find-more">
          <h1>No videos! Why not <%= link_to "find some?", search_new_path %></h1>
        </div>
      <% end %>
    </div>
     <div class="tt-manager-panel <%= is_me %>">
        <h1><%= link_to team.user.username, team.user %></h1>
        <p>Manager<p>
        <%= link_to gravatar_for(team.user), 'http://www.gravatar.com', target: '_blank' %>
      </div>
  </div>
</div>
 -->
