<div class="tt-team-outer-show">
  <div class="tt-nonadmin-panel">
  </div>
  <div class="tt-rank-panel">
    <div class="big center"><%= link_to (rank).ordinalize, (teams_path +
      '#' + team.name) %></div>
  </div>
  <div class="tt-team-inner-show">
    <div class="tt-main-team-show">
      <div class="tt-team-splash-show">
        <h1><%= team.name.truncate(18) %></h1>
      </div>
      <div class="tt-team-stats-show">
        <table class="table table-condensed tt-team-table">
          <tbody>
            <tr>
              <td>Playing Since</td>
              <td><%= team.created_at.strftime("%b %e / %Y") %></td>
            </tr>
            <tr>
              <td>Total Points</td>
              <td><%= team.points_total %> (<%= team.watches %> Active Views)</td>
            </tr>
            <tr>
              <td>Available Bankroll</td>
              <td><%= number_to_human(team.bankroll) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <div class="tt-manager-panel">
      <h1><%= link_to team.user.username, team.user %></h1>
      <p>Manager<p>
      <%= link_to gravatar_for(team.user), 'http://www.gravatar.com', target: '_blank' %>
    </div>
  </div>
</div>
<div class="team-roster container">
  <table class="table teamvid-table table-hover table-responsive">
    <thead>
      <tr>
        <th>Player</th>
        <th>Views (All-Time/Team)</th>
        <th>Points</th>
        <th>Joined</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <% team.videos.each do |video| %>
        <tr>
          <td><%= link_to video.title.truncate(35), page_path, 'data-toggle' => 'modal',
            'data-target' => "\##{video.id}modal" %>



<button class="btn btn-primary" data-toggle="modal" data-target="<%= "\##{video.id}modal" %>">Large modal</button>

<div class="modal fade" id="<%= "#{video.id}modal" %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= video.title %></h4>
      </div>
      <div class="modal-body vid-modal">
        <%= video.embed_html5.html_safe %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




          </td>
          <td>
            <%= number_to_human(video.initial_watches + video.watches) %> (All) /
            <%= video.watches %> (Team)
          </td>
          <td><%= video.points %></td>
          <td><%= video.team.created_at.
            strftime("%b %e / %Y") %>
          </td>
          <td><%= number_to_human(video.initial_watches) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

