<div class="tt-team-outer-show">
  <div class="tt-nonadmin-panel">
  </div>
  <div class="tt-rank-panel">
    <div class="big center"><%= link_to (rank).ordinalize, (teams_path +
      '#' + team.name) %></div>
  </div>
  <div class="tt-team-inner-show">
    <div class="tt-main-team-show">
      <div class="tt-team-splash-show">
        <h1><%= team.name.truncate(18) %></h1>
      </div>
      <div class="tt-team-stats-show">
        <table class="table table-hover table-condensed tt-team-table">
          <tbody>
            <tr>
              <td>Playing Since</td>
              <td><%= team.created_at.strftime("%b %e / %Y") %></td>
            </tr>
            <tr>
              <td>Total Points</td>
              <td><%= team.points %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <div class="tt-manager-panel">
      <h1><%= link_to team.user.username, team.user %></h1>
      <p>Manager<p>
      <%= link_to gravatar_for(team.user), 'http://www.gravatar.com', target: '_blank' %>
    </div>
  </div>
</div>
