<h1>team show</h1>
<%= @team.name %> <%= link_to "Release Team", @team, method: :delete, confirm:
 'This will delete your team and release all your videos. Confirm?' %>
<ul>
  <% @team.videos.each do |video| %>
    <li><%= video.title %> has scored <%= video.watches %> since
    <%= video.updated_at.strftime("%b '%y") %></li>
  <% end %>
</ul>

