<h1>team show</h1>
<% if @is_me %>
  <%= link_to "Rename Team", edit_team_path %>
  <%= @team.name %> <%= link_to "Release Team", @team, method: :delete, data:
  { confirm: 'This will delete your team and release all your videos. Confirm?' } %>
  <% if @team.videos.length < 5 %>
    <%= link_to "Scout for players", new_video_path %>
  <% end %>
<% end %>
Team Bankroll: <%= @team.bankroll %> Total Team Salary: <%= @team.salary %>

<ul>
  <% if @videos.present? %>
    <% @videos.each do |video| %>
        <li>
        <%= link_to video.title, video %> has scored <%= video.points %>
         points since joining your team on <%= video.created_at.strftime("%b %e'%y") %><br>
         It has been watched <%= video.watches %> times since then.
         Salary: <%= video.salary %>

        <% if @is_me %>

            <!-- PROB REFACTOR THIS ISH AND PUT IT IN A HELPER? -->
            <%= link_to "Release video", team_video_path(@team, video),
            method: :delete, confirm: "This will release the video as a free agent. Confirm?" %>

        <% end %>
        <%= link_to image_tag(video.thumbnail, alt: video.title), video %>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="container">
  <div class="row team-header">
    <div class="col-sm-3 panel panel-default" id="manager-panel">
      <div class="panel-heading">
        <h3 class="panel-title">MANAGER</h3>
      </div>
      <div class="panel-body"><span class="glyphicon glyphicon-cog">AVATAR</span></div>
      <div class="panel-footer">@username</div>
    </div>
    <div class="col-sm-6" id="team-panel">
      TEAM NAME
    </div>
    <div class="col-sm-3" id="rank-panel">
      Rank
    </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
