<div class="container">
  <h2>Sign up</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-inline' }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <div><%= f.label :username, class: 'label-width' %><br />
      <%= f.text_field :username, :autofocus => true, class: 'outline-fix' %></div>

      <div><%= f.label :email, class: 'label-width' %><br />
      <%= f.email_field :email, class: 'outline-fix' %></div>

      <div><%= f.label :password, class: 'label-width' %><br />
      <%= f.password_field :password, class: 'outline-fix' %></div>

      <div><%= f.label :password_confirmation, class: 'label-width' %><br />
      <%= f.password_field :password_confirmation, class: 'outline-fix' %></div>

      <div><%= f.submit "Sign up!", class: 'btn btn-blue' %></div>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
