<div class="form-container">
  <%= form_for @video, html: { class: 'form' } do |form| %>
    <div class="form-group">
      <%= form.label :yt_id, "Paste a YouTube URL!", class: 'label-width' %>
      <%= form.text_field :yt_id, placeholder: 'YT URL', class: 'outline-fix' %>
      <%= form.submit 'Find by ID', class: 'btn btn-blue' %>
    </div>
  <% end %>

  <%= form_tag({ action: 'create_many', controller: 'videos'}) do %>
    <div class="form-group">
      <%= label_tag :search_term, "Or search!", class: 'label-width' %>
      <%= text_field_tag :search_term, nil, placeholder: 'Your query, sir/madam.',
        class: 'outline-fix' %>
      <%= submit_tag 'Search', class: 'btn btn-blue' %>
    </div>
  <% end %>
</div>
