<div class="tt-user-outer <%= is_me %>" id="<%= user.username %>">
  <div class="tt-user-inner <%= is_me %>">
    <div class="tt-user-slogan">
      <%= gravatar_for(user) %>
      <h1> <%= user.username %></h1>
    </div>
    <div class="tt-user-stats">
      <table class="table table-condensed user-table">
        <tbody>
          <tr>
            <td>Playing Since</td>
            <td><%= user.created_at.strftime("%b %e / %Y") %></td>
          </tr>
          <tr>
            <td>Manager of</td>

          <% if user.team %>
            <td><%= link_to user.team_name.truncate(19), user.team %></td>
          </tr>
          <tr>
            <td>Total Points</td>
            <td><%= user.team.points_total %></td>
          </tr>
          <tr>
            <td>Team Views</td>
            <td><%= user.team_watches %></td>
          <% else %>
            <% if is_me %>
              <td><%= link_to "Create new team!", new_team_path %></td>
            <% else %>
              <td>(No Team)</td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
