<% videos.each do |video| %>
  <div class="panel panel-default tt-card-outer">
    <div class="panel-body tt-card-inner">
      <div class="tt-video">
        <%= video.embed_html5.html_safe %>
        <div class="tt-signrel-btn">
          <% if video.team.blank? %> <%# If no team put up sign link %>
            <%= link_to image_tag("check@2x.png", size: "40x40", alt: "Sign Player"),
                  edit_team_video_path(team_id: user_team, id: video) %>
          <% elsif video.team == user_team %> <%# If on user_team put drop link %>
            <%= link_to image_tag("trash@2x.png", size: "40x40", alt: "Release Player"),
                        team_video_path(team_id: user_team.id, id: video.id),
                        method: :delete, data: { confirm: "This will drop
                        #{video.title} from your team immediately. Confirm?" } %>
          <% end %>
        </div>
      </div>

      <div class="tt-vid-stats">
        <table class="table table-hover table-condensed card-table">
          <thead class="tt-stats-table">
            <tr>
              <th colspan="2"><div class="glyphicon glyphicon-star"></div>
              <%= video.title.truncate(75) %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>Views</td>
                <td><%= video.initial_watches + video.watches %></td>
              </tr>
            <tr>
              <td>Team</td>
              <td><%= video.team ? (link_to video.team.name, video.team)
                                   : "Free Agent" %></td>
            </tr>
            <% if video.team %>
              <tr>
                <td>Joined</td>
                <td><%= video.team.created_at.strftime("%b %e '%y") %></td>
              </tr>
              <tr>
                <td>Points</td>
                <td><%= video.points %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
