<div class="tt-card-outer">
  <div class="tt-card-inner">
    <div class="tt-video">
      <%= video.embed_html5.html_safe %>
      <div class="tt-signrel-btn">
        <% if video.team.blank? %> <%# If no team put up sign link %>
          <%= link_to image_tag("check@2x.png", size: "40x40", alt: "Sign Player",
              title: "Sign player to your team"),
                edit_team_video_path(team_id: current_user.team, id: video) %>
        <% end %>
      </div>
    </div>

    <div class="tt-vid-stats">
      <table class="table table-hover table-condensed card-table">
        <thead class="tt-stats-table">
          <tr>
            <th colspan="2"><div class="glyphicon glyphicon-star"></div>
            <%= video.title.truncate(50) %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Views</td>
            <td><%= number_to_human(video.initial_watches + video.watches) %></td>
          </tr>
          <tr>
            <td>Team</td>
            <td><%= video.team ? (link_to video.team.name.truncate(25), video.team)
                                 : "Free Agent" %></td>
          </tr>
          <% if video.team %>
            <tr>
              <td>Joined</td>
              <td><%= video.team.created_at.strftime("%b %e / %Y") %></td>
            </tr>
            <tr>
              <td>Points</td>
              <td><%= video.points %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
