<div class="signing-container">
  <div class="vid-thumb" style="background-image: url('<%= url_for(@video.thumbnail) %>')">
  </div>
  <div class="contract-table">
    <table class="table contact-table">
      <thead>
        <tr>
          <th colspan="2"><span class="signing">Contract For:</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Video:</td>
          <td><%= link_to @video.title.truncate(80), '#', 'data-toggle' => 'modal',
            'data-target' => "\##{@video.id}modal" %>
            <div class="modal fade" id="<%= "#{@video.id}modal" %>">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><%= @video.title %></h4>
                  </div>
                  <div class="modal-body vid-modal">
                    <%= @video.embed_html5.html_safe %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </td>
        </tr>
        <tr>
          <td>Team Funds:</td>
          <td><%= number_to_currency(@team.bankroll, precision: 0) %>
        </tr>
        <tr>
          <td>Salary:</td>
          <td><%= number_to_currency(@video.salary, precision: 0) %></td>
        </tr>
        <tr class="amt-left">
          <td>Left after signing:</td>
          <td><%= number_to_currency(@team.bankroll - @video.salary, precision: 0) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='sign-btns'>
    <%= form_for [@team, @video], html: { class: 'choices' } do |form| %>
      <%= form.submit "Sign Player", class: 'btn btn-blue' %>
    <% end %>
    <%= form_tag({action: 'new', controller: 'search'}, method: :get, class: 'choices') do %>
      <%= submit_tag "Return to Search", class: 'btn btn-danger' %>
<% end %>
  </div>
</div>
