<h1> videos#edit has team_id too (assign videos here)</h1>
<%= @video.title %> has
<%= @video.watches %>
<%= form_for [@team, @video] do |form| %>
  <%= form.submit "Sign video?" %> to <%= @team.name %>
<% end %>
