<div class="container">
  <div class="form-container">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-inline' }) do |f| %>
      <div class="form-container">
      <h2>Your Team Misses You!</h2>

        <%= f.email_field :email, :autofocus => true, class: 'outline-fix form-control', placeholder: 'Email' %>

        <%= f.password_field :password, class: 'outline-fix, form-control',
          placeholder: "Password" %>

        <% if devise_mapping.rememberable? -%>
          <div class="text-center">
            <%= f.label :remember_me %><%= f.check_box :remember_me %>
          </div>
        <% end -%>
      </div>
      <%= f.submit "Sign in", class: 'btn btn-blue' %>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
