<div class='tt-nav'>
  <div class="container">
    <ul class="nav nav-pills">
      <% if user_signed_in? %>
        <li>
          <div class="nav-user"><%= link_to current_user.username.truncate(12), users_path %></div>
        </li>
        <li>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </li>
        <% if current_user.team %>
          <li>
            <%= link_to current_user.team.name.truncate(25), current_user.team %>
          </li>
          <li>
            <%= link_to "Scout Players", search_new_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "Create Team", new_team_path %>
          </li>
        <% end %>
        <li>
          <%= link_to "Standings", teams_path %>
        </li>
      <% else %>
        <li>
          <div class="nav-user"><%= link_to "Login/Signup", new_user_session_path %></div>
        </li>
      <% end %>
      <div class="tt-logo">
        <span class="logo-tube">Tube</span>Team
      </div>
    </ul>
  </div>
</div>
