<!DOCTYPE html>
<html>
  <head>
    <title>TubeTeam</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/global_header' %>
      <%= render 'layouts/flash_messages' %>
    </header>

  <%= yield %>

  </body>
</html>

